body {
    background-color: #C3979F;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

.intro {
  position: relative; 
  display: inline-block; 
}

.image-text {
  position: absolute; 
  top:  300px; 
  left: 0px; 
  color: white; 
  background-color: rgba(0, 0, 0, 0.5); 
  padding: 5px; 
  font-size: 50px;
  display : flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.travel-form {
  width: 1000px;
  margin: 50px auto;
  padding: 20px;
  background: #f4f4f4;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}
.travel-form input,
.travel-form place-name {
  width: 95%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}
h1 {
    background-color: #78FFD6;
    border-radius: 15px;
}
.place-card {
    background: white;
    padding: 10px;
    margin: 10px 0;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.delete-btn {
    background: crimson;
    color: white;
    border: none;
    padding: 5px 8px;
    border-radius: 6px;
    cursor: pointer;
}